@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XYZ Shopping</h1>
    <p class="lead">XYZ Shopping is the best online portal for one stop shopping</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Great Varieties</h2>
        <p>
            Greate variety of products can be found here.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free Home Delivery</h2>
        <p>Free delivery eligible for shopping above $200.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Online Payment</h2>
        <p>Credit, Debit cards are accepted. Also E-Wallet can be used for payment</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>